{{ roomsForm.pristine | json }}
{{ roomsForm.dirty | json }}
{{ roomsForm.valid | json }}
{{ roomsForm.invalid | json }}
{{ roomsForm.value | json }}

<!-- gets the same result as roomsForm.value
{{ room | json }}
 -->
<div *ngIf="successMessage !== ''" class="alert alert-success">
  {{ successMessage }}
</div>

<form #roomsForm="ngForm" (ngSubmit)="addRoom(roomsForm)">
  <div class="form-group">
    <input
      required
      class="form-control"
      type="text"
      name="roomType"
      [(ngModel)]="room.roomType"
      placeholder="Room Type"
    />
  </div>
  <div class="form-group">
    <input
      #roomamenities="ngModel"
      required
      minlength="10"
      maxlength="20"
      email
      pattern="?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*|"
      class="form-control"
      type="text"
      name="amenities"
      [(ngModel)]="room.amenities"
      placeholder="Amenities"
    />
  </div>
  <div
    class="alert alert-danger"
    *ngIf="roomamenities.dirty && roomamenities.errors?.['required']"
  >
    Amenities is required
  </div>
  <div
    class="alert alert-danger"
    *ngIf="roomamenities.dirty && roomamenities.errors?.['minlength']"
  >
    Amenities should be min 10
  </div>
  <div
    class="alert alert-danger"
    *ngIf="roomamenities.dirty && roomamenities.errors?.['email']"
  >
    Amenities should be Email
  </div>
  <div
    class="alert alert-danger"
    *ngIf="roomamenities.dirty && roomamenities.errors?.['pattern']"
  >
    Amenities should follow the pattern
  </div>
  <div class="form-group">
    <input
      required
      class="form-control"
      type="number"
      name="price"
      [(ngModel)]="room.price"
      placeholder="Price"
    />
  </div>
  <div class="form-group">
    <input
      required
      class="form-control"
      type="text"
      name="photos"
      [(ngModel)]="room.photos"
      placeholder="Photos"
    />
  </div>
  <div class="form-group">
    <input
      required
      class="form-control"
      type="datetime"
      name="checkinTime"
      [(ngModel)]="room.checkinTime"
      placeholder="Checkin In"
    />
  </div>
  <div class="form-group">
    <input
      required
      class="form-control"
      type="datetime"
      name="checkoutTime"
      [(ngModel)]="room.checkoutTime"
      placeholder="Check Out"
    />
  </div>
  <div class="form-group">
    <input
      required
      class="form-control"
      type="number"
      min="1"
      max="5"
      name="rating"
      [(ngModel)]="room.rating"
      placeholder="Rating"
    />
  </div>
  <div>
    <button
      [disabled]="roomsForm.invalid"
      class="btn btn-primary"
      type="submit"
    >
      Submit
    </button>
  </div>
</form>
